---
---
@import "variables";


.h1, h1 {
  @media (max-width: 576px) {
    font-size: 1.5em;
  }
}


// start content
body {
  background-color: #fff;

  a { color: rgba(0,0,0,.5) }
  a:hover { color: rgba(0,0,0,.9); text-decoration: none; }
}
.page-content {
  min-height: calc(100vh - 220px);
}

.navbar {
  background-color: #fff4f4;

  font-size: 1.2em;

  padding: 25px;
  margin-bottom: 20px;

  .navbar-brand {
    color: rgba(0,0,0,.9);
    padding-right: 20px;
  }
  .nav-item {
    padding: 10px;
  }
}

.profile_img {
  margin: 10px;
  border: 1px solid rgba(0,0,0,.5);
  float: right;
  img {
    width: 250px;
    @media (max-width: 576px) {
      width: 150px;
    }
  }
  @media (max-width: 576px) {
    margin: 5px;
  }
}


.img_container {
  margin: 10px;
  border: 1px solid rgba(0,0,0,.5);
  img {
    width: 100%;
  }
  @media (max-width: 576px) {
    margin: 5px;
  }
}

.portfolio_links {
  margin: 5px;
  font-size: 1.2em;
  @media (max-width: 576px) {
    font-size: 1em;
  }
}


footer {
  padding: 20px 25px 20px 25px;
  width: 100%;
  min-height: 60px;
  background-color: #fff4f4;
  div {
    padding-right: 50px;
  }
}

